@font-face {
    font-family: '80s';
    src: url('../fonts/codegon.ttf') format('truetype');
}

html {
    height: 100%;
    background: rgb(22, 22, 22);
  }
  head {
    height: 0;
  }
  body {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94%;
    width: 96%;
    margin: 2%;
    overflow: hidden;
    font-family: '80s';
    background: black;
    border-radius: 50px;
  }
button {
    font-family: '80s';
    background: black;
    border: solid black;
    color: lime;
    text-shadow: 0 0 6px limegreen;
    cursor: crosshair;
}
button:active,
#start-form button:active,
#shop button:active,
.sn a:active  {
  opacity: 0.6;
}
  .hidden {
    display: none;
  }
  #journey {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #progress-area {
    float: left;
    position: relative;
    width: 90%;
    margin: 0 5% 0 5%;
  }
  #trees {
    width: 100%;
    image-rendering: pixelated;
  }
  #stackers {
    position: absolute;
    bottom: 30px;
    left: 0;
  }
  #stats-area {
    border: lime solid 5px; box-shadow: 0 0 6px limegreen; border-radius: 5px;
    color: lime;
    text-shadow: 0 0 6px limegreen;
    float: left;
    height: fit-content;
    width: 35%;
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
    font-size: 14px;
  }
  .stat-value {
    float: right;
  }
  #updates-area {
    margin-left: auto;
    margin: 10px;
    margin-right: 5%;
    width: 50%;
    padding: 10px;
    font-size: 12px;
    overflow-y: scroll;
    max-height: 100%;
    line-height: 1em;
    max-height: calc(1em * 10);
  }
  #updates-area::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    }

    #updates-area::-webkit-scrollbar-track {
    background: black; /* Track (part the user can scroll through) */
    }

    #updates-area::-webkit-scrollbar-thumb {
    background: #333; /* Scrollbar thumb (the part you drag) */
    border-radius: 4px; /* Rounded corners for the thumb */
    }

    #updates-area::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
    }
    .su-container {
        margin-top: 5%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        height: 20%;
    }
  .update-positive {
    color: lime;
    text-shadow: 0 0 6px limegreen;
    margin: 5px 0 5px 0;
  }
  .update-negative {
    color: red;
    text-shadow: 0 0 6px rgb(188, 0, 0);
    margin: 5px 0 5px 0;
  }
  .update-neutral {
    color: #90908F;
    text-shadow: 0 0 6px #828282;
    margin: 5px 0 5px 0;
  }
  #shop {
    float: left;
    color: lime;
    text-shadow: 0 0 6px limegreen;
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
    height: 90px;
    width: fit-content;
  }
  .product {
    float: left;
    margin: 5px;
    padding: 20px;
    border: 1px solid black;
    font-size: 12px;
    padding: 3px;
    cursor: crosshair;
    color: #90908F;
    text-shadow: 0 0 6px #828282;
  }
  #shop button {
    clear: both;
    float: left;
    margin: 5px;
  }
  #prods {
    display: flex;
    flex-direction: column;
  }
  #attack {
    float: left;
    color: lime;
    text-shadow: 0 0 6px limegreen;
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
    height: 60px;
    width: fit-content;
  }
  #withimage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .options {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #fight {
    margin: 10px;
    color: rgb(250 218 94);
    text-shadow: 0 0 6px #fada5e;
  }
  #runaway {
    margin: 10px;
    color: red;
    text-shadow: 0 0 6px rgb(188, 0, 0);
  }
  #attack-description {
    margin: 20px
  }
  .onesat {
    font-family: '80s';
    background: none;
    border: none;
    color: lime;
    text-shadow: 0 0 6px limegreen;
    margin: 5% 2% 2% 2%;
  }

  .sn {
    color: rgb(250 218 94);
    text-shadow: 0 0 6px #fada5e;
    margin: 5% 2% 2% 2%;
  }
  .sn a {
    text-decoration: none;
    cursor: crosshair;
  }
  #top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: fit-content;
    margin: 0 5% 0 5%;
  }
  #gameover {
    margin: 10px;
    margin-left: 5%;
    padding: 10px;
  }
  .pic {
    height: 200px;
  }
  .events {
    display: flex;
    align-items: flex-end;
  }

@media screen and (max-width: 700px) {
    .su-container {
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        height: 40%;
        margin: 0;
    }
    #progress-area {
        transform: scale(0.8);
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    #updates-area {
        margin-right: 0;
        width: 90%;
        font-size: 8px;
        height: 60%;
        max-height: 60%;
        margin-left: 5%;
  }
  #stats-area {
        width: 45%;
        font-size: 8px;
        height: 40%;
        max-height: 40%;
        margin-bottom: 0;
        margin-top: 0;
        align-self: center;
  }
  .sn {
    margin-top: 10%;
  }  
  .onesat {
    margin-top: 10%;
  }
  #shop {
    font-size: 8px;
    padding: 0;
    margin-top: 0;
  }
  #attack-description {
    font-size: 8px;
    padding: 0;
    margin-top: 0;
  }
  #runaway {
    font-size: 8px;
    padding: 0;
    margin-top: 0;
  }
  #fight {
    font-size: 8px;
    padding: 0;
    margin-top: 0;
  }
  #attack {
    font-size: 8px;
    padding: 0;
    margin-top: 0;
  }
  .product {
    font-size: 8px;
    padding: 0;
    margin-top: 0;
  }
  #shop button {
    font-size: 8px;
    padding: 0;
    margin-top: 0;
  }
  body {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  #smalls {
    transform: scale(0.5);
  }
  .logo {
    margin: -50px;
  }
  #start-form {
    transform: scale(0.8);
    }
    .pic {
      height: 150px;
    }
  #top {
    font-size: 8px;
  }
  .onesat {
    font-size: 8px;
  }
}




.title-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #555;
    color: black;
    border-radius: 50px;
    text-shadow: 0 0 6px rgb(29, 29, 29);
    text-align: center;
}

#start-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#start-form input,
#start-form select,
#start-form button,
#start-form input:focus {
    background-color: #222;
    color: lime;
    text-shadow: 0 0 6px limegreen;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    font-family: '80s';
    border: none;
    border-radius: 5px;
    outline: none;
    transition: none;
    appearance: none
}

::placeholder {
  opacity: .1;
  color: lime;
  text-shadow: 0 0 6px limegreen;
}